*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --green:#57B847;
    --input-bg:#EEEEEE;
}

html{
    width: 100vw;
    height: fit-content;
    font-size: 10px;
    overflow-x: hidden;
}

body{
    width: 100%;
    height: fit-content;
}