.detail{
    transform: translateX(5%);
    opacity: 0;
    transition: 0.2s;
}

.detail table{
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    margin-top: 2rem;
}
.detail table td{
    font-size: 1.5rem;
    text-transform: capitalize;
    padding-left: 1rem;
    row-gap: 1rem;
    padding-bottom: 1rem;
}
.detail h3{
    padding: 1rem;
    font-size: 2rem;
    font-weight: 500;
    padding-left: 2rem;
}
.skill{
    width: 100%;
    height: fit-content;
    padding: 1rem;
    padding-top: 0px;
}
.detail .skill span{
    display: inline-block;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    margin: 1rem;
    background-color: var(--bg);
    border-radius: 2rem;
}